@{
    ViewBag.Title = "Home Page";
}

    <div>
        @using (Html.BeginForm())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Name")
                        </th>
                        <th>
                            @Html.DisplayName("Gender")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <p>
                <input type="submit" value="Submit" />
            </p>
        }
        <input type="hidden" id="rows" value="0" />
        <button id="AddButton">Add New Row</button>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>
    var str3 = ' @foreach (string list in ViewBag.DropDown) {@Html.Raw("<option value=\""+list+"\">"+list+"</option>")} ';
    $(document).ready(function () {
        $("#AddButton").click(function () {
            tc = parseInt($("#rows").val());
            tc = tc + 1;
            $("#rows").val(tc)
            var str1 = '<tr><td><input type="text" name="[' + (tc - 1) + '].Name" /></td>';
            var str2 = '<td><select name="[' + (tc - 1) + '].Gender">';
            var str4 = '</select></td><tr>Remove';
            $("tbody").append(str1 + str2 + str3 + str4)
        });

        $("tbody").on("click", "span", function () {
            tc = parseInt($("#rows").val());
            tc = tc - 1;
            $("#rows").val(tc)

            $(this).parents("tr").remove();
        });
    });
</script>